html, body {
    margin: 0px;
    background-size: cover;
    /*background: #e2e2e2 fixed;*/
    background-image: url("background.jpg") ;
    /*position: absolute;*/
    /*position: relative;*/
}
.navigation {
    list-style: none;
    margin: 0;
    width: 100%;
    padding-left: 0;
    float: right;
    content: justify;
    align-items: center;
    justify-content: center;
    background: #333333;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #333333;
    float: left;
    display: flex;
    content: block;
}

.navigation li {
    float: left; /* Выстраивание элементов списка в один ряд. */
    font-family: 'Microsoft Sans Serif', sans-serif; /* Указание типа шрифта. */
    font-size: 20px; /* Размер текста в ссылках. */
    content: justify;
    content: block;
}
.navigation li a {
    display: block; /* Изменение отображения на блочное для того чтобы иметь возможность задать внутренние отступы. */
    padding: 16px 21px;  /* Внутри блочные отступы. */
    background: #333333; /* Цвет блоков меню. */
    color: #ffffff; /* Цвет текста в блоках меню. */
    text-decoration: none; /* Устранение подчёркивания ссылок. */
    position: relative; /* Это необходимо при использовании Internet Explorer 6 для того, чтобы ссылка по всей своей площади была «кликабельной». */
    content: block;
}
.navigation li a:hover {
    color: #ff0000;  /* Цвет текста при наведении курсора. */
}

.navigation li a.news {
    color: #ff0000;
}

.navigation li a.artists {
    color: #ff0000;
}

.navigation li a.forum {
    color: #ff0000;
}

.navigation li a.sign_in {
    color: #ff0000;
}

.navigation li a.sign_up {
    color: #ff0000;
}
.form-signin {
    padding: 20px;
    margin: 200px 650px;
    display: inline-block;
    position: absolute;
    color: #ff0000;

}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 25px;
}

.form-signin .checkbox {
    font-size: larger;
    font-family: Mistral, serif;

}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 10px;
    width: 400px;
    font-size: 16px;
    border-color: #ff0000;
}
.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    width: 500px;
    height: 40px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: black;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    width: 500px;
    height: 40px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: black;
}

.container button {
    margin: 20px 0px;
    width: 100px;
    height: 40px;
    color: white;
    background: #000000;
    border-color: red;
    border-radius: 10px 5px;
    cursor: pointer;
    font-family: Mistral, sans-serif;
    font-size: 18px;
}

.container h1 {
    font-family: Mistral, serif ;
    font-size: 60px;
    padding: 37px 132px;

}

.form-signup {
    padding: 20px;
    margin: 100px 650px;
    display: inline-block;
    position: absolute;
    color: #ff0000;
}

.form-signup .form-signin-heading {
    margin-bottom: 25px;
}
.form-signup .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 10px;
    width: 500px;
    font-size: 16px;
    border-color: red;
}
.form-signup .form-control:focus {
    z-index: 2;
}

.form-signup input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signup input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.sign_up button {
    margin: 20px 0px;
    width: 100px;
    height: 40px;
    color: white;
    background: #000000;
    border-color: red;
    border-radius: 5px 5px;
    cursor: pointer;
    font-family: Mistral,serif;
    font-size: 18px;
}

.artists_0  .table {
    display: table;
    width: 100%;
    height: 100%;
}
.artists_0  .table__cell {
    display: table-cell;
    vertical-align: middle;
    height: 500px;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}


.artists_0 .row {
    margin-right: 0;
    margin-left: 0;
}
/*.artists_0  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-top: 25px;
    margin-left: 155px;
}

.artists_0 .delete img {
    margin-left: 0px;
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-top: 65px;
}*/

.artists_0  @media (max-height: 600px) {
    .table__cell {
        -moz-transform:  scale(0.7);
        -ms-transform:  scale(0.7);
        -webkit-transform:  scale(0.7);
        -o-transform:  scale(0.7);
        transform:  scale(0.7);
    }
}
.artists_0 h2 {
     font-family: 'Microsoft Sans Serif', sans-serif;
     color: #ffffff;
     font-size: 30px;
     display: inline-block;
     position: absolute;
     top: 30px;
     left: 0px;
 }
.artists_0 p {
    font-family: 'Microsoft Sans Serif', sans-serif;
    color: #ff0000;
    font-size: 20px;
    display: inline-block;
    position: absolute;
    top: 75px;
    left: 0px;
}



.artists_0 .col-md-2 {
    padding: 0px;
}




* {box-sizing: border-box;}
.search form {
    position: relative;
    width: 650px;
    margin: 30px 500px;
    margin-bottom: 10px;
    display: inline-block;
}
.search input {
    width: 100%;
    height: 55px;
    padding-left: 10px;
    border: 2px solid #ff0000;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #000000;
    font-size: 25px;
}
.search button {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 55px;
    border: none;
    background: #ff0000;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search button:before {
    content: "Search";
    font-family: Mistral, sans-serif;
    font-size: 23px;
    color: #F9F0DA;
}

.card {
    width: 45%;
    margin-left: 450px;
    border:  1px solid rgba(0,0,0,0);
    top: 20px;
    background-image: url("SuicideSilence20110612Download-028-Web.jpg");
}

.news .card-img-top {
    height: 650px!important;
}

.news h1 {
    font-family: Mistral, sans-serif;
    color: red;
}

.news p {
    font-family: 'Microsoft Sans Serif', sans-serif;
    color: white;
}


.profile h1 {
    margin-top: 0px;
    margin-left: 620px;
    font-family: Mistral, sans-serif;
    font-size: 100px;
    color: red;
}

.profile h2 {
    margin-top: 0px;
    margin-left: 620px;
    font-family: Mistral, sans-serif;
    font-size: 70px;
    color: white;
}

.profile h4 {
    margin-top: 0px;
    margin-left: 620px;
    font-family: Mistral, sans-serif;
    font-size: 50px;
    color: white;
}


@media (min-width: 768px) {

    /* Remve the edge padding needed for mobile */
    .marketing {
        padding-left: 0;
        padding-right: 0;
    }

    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 0px;
        margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        font-family: Mistral, sans-serif;
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}

.carousel {
    margin-top: 0px;
    margin-left: 300px;
    margin-right: 300px;
    position: absolute;
}
