<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>News</title>
    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>

<#include "navbar.ftl" parse=true>

<div class="news">
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="card-title">Mitch not dead</h1>
        </div>
        <img class="card-img-top" src="../img/large%2000000.png" alt="">

        <div class="card-body">
            <p class="card-text">hah, clickbait he's dead</p>
            <p class="card-text"><small class="text-muted"></small></p>
        </div>
    </div>
</div>
</body>
</html>